body{
  font-family:Arial;
  margin:0;
  background:#000;
  color:white;
}

header{
  background:linear-gradient(to right,#8B0000,#000);
  text-align:center;
  padding:20px;
}

h1{
  color:gold;
}

#status{
  font-weight:bold;
}

.cardapio{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  padding:20px;
}

.item{
  background:#111;
  padding:15px;
  width:200px;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
}

.item:hover{
  transform:scale(1.05);
  box-shadow:0 0 15px gold;
}

img{
  width:100%;
  border-radius:10px;
}

button{
  background:#8B0000;
  color:white;
  border:none;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:gold;
  color:black;
}

.carrinho{
  background:#111;
  margin:20px;
  padding:20px;
  border-radius:15px;
}

input,select{
  width:100%;
  padding:8px;
  margin-top:10px;
  border-radius:8px;
  border:none;
}

.finalizar{
  background:gold;
  color:black;
  margin-top:15px;
  font-weight:bold;
}